@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
}

.block {
  box-sizing: content-box;
}

.wrapper-container {
  background-color: #ffffff;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.25;
  color: #000000;
  background-color: #E5E5E5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.navigation {
  display: flex;
  width: 100%;
  min-height: 65px;
  margin: 0 auto;
}

.navigation-logo {
  display: flex;
  align-items: center;
  width: 139px;
  margin-left: 70px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0;
  padding: 0;
}

.navigation-user {
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  margin-left: auto;
  margin-right: 70px;
}

.navigation-link {
  display: block;
  padding: 20px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  color: inherit;
  text-decoration: none;
}

.navigation-link-current {
  position: relative;
  border-bottom: 2px solid;
  cursor: pointer;
}

.navigation-item:not(:last-child) {
  margin-right: 34px;
}

.navigation-search {
  display: block;
  background-image: url("../images/header/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 19px;
  height: 19px;

}

.navigation-favoutite {
  display: block;
  background-image: url("../images/header/favorite.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 19px;
  height: 17px;
}

.like {
  transform: translateX(13px) translateY(-8px);
}

.button {
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
  box-sizing: border-box;
}

.button-basic {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: white;
  background-color: #756157;
  min-width: 160px;
  min-height: 37px;
  border: none;
}

.button-basic:hover,
.button-basic:focus {
  background-color: #615048;
}

.button-basic:active,
.button-blue:active,
.button-green:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-basic:disabled,
.button-blue:disabled,
.button-green:disabled {
  background-color: #E5E5E5;
  color: #FFFFFF;
}

.main-container {
  flex-grow: 1;
}

.main-picture {
  display: block;
  margin: 0 auto;
  padding: 0;
  background-position: 0 0;
}

.index-picture {
  background-image: url("../images/index-background.jpg");
  padding-top: 51px;
  min-width: 1200px;
  min-height: 485px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0 0;
  position: relative;
}

.index-picture::after {
  background-image: url(../images/index-decoration.png);
  content: "";
  width: 1200px;
  height: 57px;
  position: absolute;
  bottom: 0;
}

.advantages {
  margin: 0;
  padding: 0;
  text-align: center;
}

.advantages-block {
  padding: 63px 90px;
}

.advantages-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  text-transform: uppercase;
}

.advantages-description {
  color: #333333;
  background-color: #FFFFFF;
  font-size: 22px;
  line-height: 1.18;
}

.background-blue {
  color: white;
  background-color: #82B3D3;
  min-width: 400px;
  max-height: 384px;
}

.advantages-color-blue {
  background-color: rgba(131, 179, 211, 0.12);
}

.button-blue {
  font-size: 16px;
  line-height: 1.25;
  color: #ffffff;
  background-color: #82B3D3;
  min-width: 160px;
  min-height: 48px;
  border: none;
}

.button-blue:hover,
.button-blue:focus {
  background-color: #68A2CA;
}

.grid-container {
  display: grid;
  grid-template-columns: 400px 800px;
  margin-bottom: 0;
}

.grid-container-reverse {
  display: grid;
  grid-template-columns: 800px 400px;
  margin-bottom: 0;
}

.advantages-subtitle {
  font-size: 24px;
  line-height: 1.16;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-subtitle-name {
  margin: 0;
  padding: 0;
  margin-top: 91px;
}

.advantages-subtitle-description {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.advantages-item {
  min-width: 400px;
  min-height: 384px;
  padding: 80px 85px;
  margin-top: 0;
}

.advantages-living,
.advantages-souvenirs,
.advantages-square .advantages-tourists {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-road {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-living {
  background-image: url("../images/advantage-house.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center 80px;
}

.advantages-food {
  background-image: url("../images/advantage-food.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center 80px;
}

.advantages-souvenirs {
  background-image: url("../images/advantage-souvenirs.svg");
  background-repeat: no-repeat;
  background-size: 75px 72px;
  background-position: center 80px;
}

.advantages-text-black {
  color: #333333;
}

.advantages-image {
  max-height: 384px;
}

.advantages-image-bridge {
  order: -1;
  max-height: 384px;
}

.advantages-list {
  margin: 0;
  padding: 0;
}

.search {
  min-width: 1200px;
  min-height: 417px;
  text-align: center;
}

.search-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  padding-top: 91px;
  margin-bottom: 29px;
}

.search-description {
  font-size: 22px;
  line-height: 1.18;
  color: #333333;
  background-color: #FFFFFF;
  margin-bottom: 56px;
}

.button-search {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.8;
  color: white;
  background-color: #756157;
  min-width: 574px;
  min-height: 60px;
  border: none;
  margin-bottom: 93px;
}

.subscribe {
  margin: 0;
  color: #FFFFFF;
  text-align: center;
  padding-top: 94px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #2F434C;
  background-image: url("../images/background-subscribe.jpg");
  min-width: 1200px;
  min-height: 411px;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 94px;
  padding-bottom: 94px;
}

.subscribe-title {
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
}

.subscribe-description {
  margin: 0;
  padding: 0;
  margin-bottom: 46px;
  font-size: 22px;
  line-height: 1.18;
}

.subscribe-form {
  display: flex;
  padding-left: 200px;
}

.field {
  color: rgba(0, 0, 0, 0.6);
  background-color: #F2F2F2;
  min-width: 600px;
  min-height: 60px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
  padding-left: 22px;
  padding-right: 22px;
  font-family: "PT-Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
}

.button-subscribe {
  margin-left: 0;
  font-style: 700;
  font-size: 20px;
  line-height: 1.25;
  color: #FFFFFF;
  background-color: #82B3D3;
  border: #82B3D3;
  min-width: 200px;
  min-height: 60px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 1200px;
  margin: 0 auto;
  padding: 45px 0;
}


.footer-social {
  margin-right: 42px;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-rows: 44px;
  margin-left: 70px;
  align-items: center;
}

.footer-social-item {
  margin-right: 12px;
  grid-row: 1/2;
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.footer-social-item a {
  text-decoration: none;
}

.footer-social-link {
  display: block;
  color: #83B3D3;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 14px;
}

.footer-social-link:hover,
.footer-social-link:focus {
  color: #68A2CA;
}

.footer-social-link:active {
  color: rgba(104, 162, 202, 0.3);
}

.footer-contacts-phone {
  display: block;
  text-decoration: none;
  font-size: 40px;
  line-height: 1;
  color: #000000;
  background-color: #FFFFFF;
}

.footer-contacts-phone:hover,
.footer-contacts-phone:focus {
  color: #756157;
}

.footer-contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-logo {
  margin-right: 70px;
  max-width: 115px;
}

.html-logo-link {
  color: #000000;
}

.html-logo-link:focus,
.html-logo-link:hover {
  color: #756157;
}

.html-logo-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.hotels-filter {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}

.hotels-filter-list {
  padding: 0;
}

.infrastructure {
  width: 151px;
  margin-right: 70px;
}

.type-apartment {
  margin-right: 175px;
}

.hotels-search {
  margin: 0;
  color: #ffffff;
  background-color: #000000;
  background-image: url("../images/hotels/background-hotel-page.jpg");
  min-height: 403px;
  background-size: cover;
  background-repeat: no-repeat;
}

.inner-header-title {
  font-size: 60px;
  font-style: 700;
  line-height: 1.3;
  margin: 0;
  padding: 0;
  padding: 30px 565px 10px 70px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 70px;
  margin-bottom: 40px;
}

.hotels-catalog {
  margin: 0;
  padding: 0;
  margin-bottom: 70px;
  justify-content: space-between;
}

.breadcrumbs-link {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 16px;
  margin-right: 10px;
}

.breadcrumbs-home::after {
  content: "";
  display: flex;
  margin-left: 15px;
  width: 10px;
  height: 16px;
  background-image: url("../images/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: translateY(21%);
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
  cursor: pointer;
}

.control-mark {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  cursor: pointer;
}

.control:hover .control-mark,
.control:hover .control-radio,
.control:focus .control-mark,
.control:focus .control-radio {
  border-color: rgba(255, 255, 255, 0.6);
}

.control:active .control-mark,
.control:active .control-radio {
  border-color: rgba(255, 255, 255, 0.3);
}

.control-input[type="checkbox"]:checked+.control-mark::after {
  content: "";
  position: absolute;
  background-image: url("../images/checkmark.svg");
  width: 12px;
  height: 10px;
  display: block;
  top: 5px;
  right: 4px;
  background-position: center center;
}

.control-radio {
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
}

.control-input[type="radio"]:checked+.control-radio::after {
  content: "";
  position: absolute;
  background-image: url("../images/ellipse-radio.svg");
  width: 10px;
  height: 10px;
  display: block;
  top: 5px;
  right: 5px;
  background-position: center center;
}

.catalog-filter-item:not(:last-child) {
  padding-bottom: 15px;
}

.hotels-filter-item:not(:last-child) {
  padding-bottom: 15px;
}

.buttons-inner-page {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.catalog-filter-group {
  border: none;
}

.range-bar {
  width: 197px;
}

.range-form {
  display: grid;
  align-items: center;
  column-gap: 70px;
  max-width: 520px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  width: 100%;
  margin: 0;
}

.catalog-filter-title {
  grid-row: 1/-1;
  margin-bottom: 34px;
}

.range-wrapper-inputs {
  grid-row: 2;
  grid-column: 1;
  display: grid;
  grid-template-columns: 50% 50%;
  border: 2px solid #FFFFFF;
  margin-bottom: 32px;
  width: 287px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;

}

.button-apply {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  margin-bottom: 20px;
  margin-top: 55px;
  grid-row: 2;
  grid-column: 2;
}

.button-reset {
  font-size: 16px;
  line-height: 1.25;
  color: #FFFFFF;
  background: none;
  border: none;
  text-transform: capitalize;
  grid-row: -1;
  grid-column: 2;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #e9f1f7;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
  ;
  border-radius: 4px;
}

.catalog-filter-label {
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.3);
  padding-right: 14px;
}

.catalog-filter-label-min {
  border-right: 1px solid #ffffff;
  margin: 0;
  padding-right: 10px;
}

.range-input {
  height: 48px;
  font-family: inherit;
  color: white;
  display: block;
  max-width: 287px;
  padding: 0 2px;
  font: inherit;
  background-color: transparent;
  border: none;
  appearance: textfield;
  width: 100%;
  padding-left: 19px;
  outline: none;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.hotels-range {
  display: flex;
  margin: 0;
  padding: 0;
}


.hotels-found,
.hotels-found-number {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: uppercase;
  margin-top: 57px;
  margin-bottom: 60px;
}

.hotels-found {
  margin-left: 72px;
}

.select-control {
  color: #333333;
  background-color: #ffffff;
  margin-left: 191px;
  min-width: 290px;
  max-height: 49px;
  margin: 50px 0 56px 191px;
  padding: 8px 14px;
  padding-right: 48px;
  font: inherit;
  font-weight: 700;
  border: 2px solid #E5E5E5;
  background-image: url("../images/arrow-down.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  appearance: none;
}

.card-grid-toggle {
  display: block;
  height: 50px;
  padding: 13px 17px;
  align-items: center;
  justify-content: center;
  border: 2px solid;
  border-color: #E5E5E5;
}

.card-grid-toggle:hover,
.card-grid-toggle:active {
  border-color: #000000;
}

.card-grid-toggle:focus {
  border-color: #68A2CA;
}

.card-grid-toggle:first-child {
  border-color: #000000;
}

.card-grid-toggle:not(:last-child) {
  margin-right: 8px;
}

.list-button-icon {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-left: 78px;
}

.list-button-icon:nth-child(3n) {
  margin-right: 0;
}

.hotels-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  margin: 0;
  padding: 0;
  gap: 18px;
  margin: 20px 71px 66px 73px;
}

.hotel-card {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  grid-template-rows: repeat(5, auto);
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  gap: 16px;
}

.hotel-card-image {
  grid-column: 1/-1;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  grid-column: 1/-1;
  min-width: 300px;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-name,
.hotel-card-price {
  color: #333333;
  background-color: #ffffff;
}

.hotel-card-name {
  grid-column: 1/2;
}

.hotel-card-price {
  grid-column: 2;
  grid-row: 2;
}

.hotel-card-button {
  display: flex;
  min-width: 140px;
  min-height: 37px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
}

.hotel-card-blue {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  color: white;
  background-color: #82B3D3;
  border: none;
}

.button-green {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  color: white;
  background-color: #7DB54F;
  border: none;
}

.button-green:hover,
.button-green:focus {
  background-color: #6C9E42;
}

.hotel-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 1.25;
  color: #333333;
  background-color: #F2F2F2;
  min-width: 140px;
  min-height: 37px;
  grid-column: 2/-1;
  position: relative;
}

.hotel-rating-4::before {
  content: "";
  background-image: url("../images/hotels/four-stars.svg");
  background-repeat: no-repeat;
  display: block;
  width: 140px;
  height: 37px;
  position: absolute;
  right: 157px;
}

.hotel-rating-3::before {
  content: "";
  background-image: url("../images/hotels/three-stars.svg");
  background-repeat: no-repeat;
  display: block;
  width: 140px;
  height: 37px;
  position: absolute;
  right: 157px;
}

.hotel-rating-2::before {
  content: "";
  background-image: url("../images/hotels/two-stars.svg");
  background-repeat: no-repeat;
  display: block;
  width: 140px;
  height: 37px;
  position: absolute;
  right: 157px;
}



.hotels-page {
  color: #333333;
}

.select-number {
  width: 160px;
  height: 49px;
  color: #333333;
  border-color: #E5E5E5;
  margin-left: 51px;
}

.hotels-filter-group {
  border: 0;
  padding: 0;
  margin: 0;
}

.pagination-container {
  display: flex;
  margin: 30px 71px 25px 73px;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  min-width: 60px;
  min-height: 60px;
  padding: 11px 12px;
  text-align: center;
  line-height: 36px;
  font-size: 20px;
  font-weight: 700;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
}

.pagination-link:hover,
.pagination-link:focus {
  background-color: #68A2CA;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.pagination-item .pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}

.hotels-page {
  margin-left: auto;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  padding: 70px;
  padding-top: 62px;
  background-color: #ffffff;
}

.modal-search {
  width: 715px;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 54px;
  right: 70px;
  width: 53px;
  height: 53px;
  border: 1px solid #F2F2F2;
  border-radius: 50%;
  background-image: url("../images/Close.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-title {
  margin: 0;
  margin-bottom: 24px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.search-form {
  display: flex;
  flex-wrap: wrap;
}

.check-in {
  position: relative;
}

.check-out {
  position: relative;
}

.field-check-in,
.field-check-out {
  min-width: 420px;
  ;
}

.field-group {
  margin: 0;
  margin-bottom: 40px;
}

.adults {
  margin-right: 64px;
}

.field-adults {
  width: 133px;
  text-align: center;
}

.children {
  margin-right: 42px;
}

.field-children {
  width: 133px;
  text-align: center;
}

.button-search-form {
  width: 575px;
  border-radius: 10px;
}

.form-label {
  font-weight: 900;
}

.field-search {
  color: #000000;
  background-color: #F2F2F2;
  min-height: 50px;
  padding-left: 19px;
  padding-right: 19px;
  border: none;
  border-radius: 4px;
}

.calendar-search {
  display: flex;
  position: relative;
}

.calendar {
  position: absolute;
  right: 10px;
  align-self: center;

  border: 0;
  background: none;
  padding: 0;

  cursor: pointer;
}

.calendar::before {
  content: "";
  background-image: url("../images/calendar.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 20px;
  height: 20px;
  display: block;
}

.person-choose {
  display: flex;
  max-width: 133px;
  height: 50px;
  justify-content: space-between;
}

.adults-button {
  border: none;
  height: 50px;
  padding: 0;
  margin: 0;
}

.adults-button-plus {
  padding: 0;
  margin: 0;
  margin-right: 56px;
}

.button-quantity {
  border: none;
  padding: 0;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
}

.field-number {
  width: 50px;
  padding: 0;
  text-align: center;
  border-radius: 0;
  padding-left: 3px;
  padding-right: 3px;

}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  display: block;
}


.tooltip {
  position: absolute;
  margin-top: 4px;
  margin-left: 2px;
}

.tooltip-text-check-in,
.tooltip-text-check-out {
  font-size: 16px;
  line-height: 21px;
  grid-column: 2/3;
  grid-row: 2/3;
}

.tooltip-text-check-in {
  color: #FF5757;
}

.tooltip-text-check-out {
  color: #333333;
}

.check-in-form-date,
.check-out-form {
  display: grid;
  align-items: center;
  column-gap: 42px;
  row-gap: 10px;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto auto;
  margin-bottom: 11px;
}

.person-quantity {
  display: flex;
  margin-bottom: 25px;
}

.adults-form,
.children-form {
  display: flex;
  align-items: center;
  margin: 0;
}

.children-form {
  margin-left: 36px;
}

.form-label-tooltip {
  display: flex;
  align-items: center;
  margin-right: 32px;
}

.form-label-tooltip label {
  margin: 0;
}

.tooltip-toggle {
  position: relative;
  margin-left: 7px;
  cursor: pointer;
}


.tooltip-toggle::after {
  content: attr(data-text);
  position: absolute;
  top: calc(100% + 10px);
  left: -85px;
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  font-weight: normal;
  text-transform: none;
  text-align: left;
  padding: 15px 18px 18px 22px;
  border-radius: 10px;
  display: block;
  width: 256px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.135s ease-in-out;
}

.tooltip-toggle::before {
  content: "";
  position: absolute;
  top: calc(100% + 1px);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 9.5px 9px 9.5px;
  border-color: transparent transparent #333333 transparent;
  background-color: #333333;
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.135s ease-in-out;
}

.tooltip-toggle:hover::after,
.tooltip-toggle:hover::before {
  opacity: 1;
  visibility: visible;
}

.modal-container-close {
  display: none;
}
