@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/ptsans-400.woff2) format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/ptsans-700.woff2) format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: inherit;
  text-decoration: none;
  width: 1200px;
  height: 65px;
  vertical-align: top;
}

.button {
  text-align: center;
  text-transform: uppercase;
  border-radius: 4px;
}

.button-basic {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: white;
  background-color: #756157;
  width: 160px;
  height: 37px;
  border: none;
}

/* Как ее сделать посередине*/
.main-picture {
  text-align: center;
}

.advantages {
  text-align: center;
  padding-top: none;
}

.advantages-block {
  width: 1200px;
  height: 282px;
  vertical-align: top;
}

.advantages-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.advantages-description {
  color: #333333;
  background-color: #FFFFFF;
  font-size: 22px;
  line-height: 26px;
}

.background-blue {
  color: white;
  background-color: #82B3D3;
  width: 400px;
  height: 384px;
}

.advantages-subtitle {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-living {
  background-color: rgba(131, 179, 211, 0.12);

}

.advantages-text-black {
  color: #333333;
  background-color: #FFFFFF;
}

.search {
  width: 1200px;
  height: 417px;
  text-align: center;
}

.search-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.search-description {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  background-color: #FFFFFF;
}

.button-search {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: white;
  background-color: #756157;
  width: 574px;
  height: 60px;
  border: none;
}

.subscribe {
  color: #FFFFFF;
  text-align: center;
  padding-top: 94px;
  background-color: #2F434C;
  background-image: url("/images/background-subscribe.jpg");
  width: 1200px;
  height: 411px;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe-title {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.subscribe-description {
  padding-top: 29px;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-form {
  padding-top: 46px;
}

.field {
  color: #000000;
  background-color: #F2F2F2;
  width: 600px;
  height: 60px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
}

.subscribe-button {
  padding-left: 0px;
  font-style: 700;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
  background-color: #82B3D3;
  width: 200px;
  height: 60px;
}

.page-footer {
  width: 1200px;
  height: 120px;
}

.footer-social-item a {
  text-decoration: none;
}

.footer-contacts-phone {
  text-decoration: none;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
}

.hotels-search {
  color: #ffffff;
  background-color: #000000;
  background-image: url("/images/hotels/background-hotel-page.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.inner-header-title {
  font-style: 700;
  font-size: 60px;
  line-height: 78px;
  padding-top: 35px;
  padding-left: 70px;
}

.breadcrumbs-link {
  font-size: 16px;
  padding-top: 10px;
  padding-left: 110px;
}

.button-blue {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #82B3D3;
  width: 160px;
  height: 48px;
  border: none;
}

.button-reset {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #000000;
  text-transform: capitalize;
}

.hotels-found,
.hotels-found-number {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding-top: 57px;
}

.hotels-found {
  padding-left: 72px;
}

.select-control {
color: #333333;
background-color: #ffffff;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  background-color: #ffffff;

}

.hotel-card-link {
 text-decoration: none;
  }

.hotel-card-name,
.hotel-card-price {
  color: #333333;
  background-color: #ffffff;
}

.hotel-card-button {
  width: 140px;
  height: 37px;
  text-decoration: none;
}

.hotel-card-blue {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: white;
  background-color: #82B3D3;
  border: none;
}

.button-green {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: white;
  background-color: #7DB54F;
  border: none;
}
